@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


/*##################
    Global Styles
##################*/

:root {
    /* Layout */
    --vw-mobile: 375px;
    --vw-desktop: 1440px;

    /* Color */
    --clr-primary: hsl(234, 12%, 34%);
    --clr-secondary: hsl(0, 0%, 98%);
    --clr-accent-1: hsl(180, 62%, 55%);
    --clr-accent-2: hsl(0, 78%, 62%);
    --clr-accent-3: hsl(34, 97%, 64%);
    --clr-accent-4: hsl(212, 86%, 64%);

    --clr-font: hsl(229, 6%, 66%);

    --clr-shadow-1: hsla(180, 62%, 55%, 0.2);
    --clr-shadow-2: hsla(229, 6%, 66%, 0.2);

    /* Typography */
    --ff-primary: 'Poppins', sans-serif;
    --fs-primary: 0.9375rem;
    --fw-1: 200;
    --fw-2: 400;
    --fw-3: 600;
}


/* Elements */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--clr-secondary);
    color: var(--clr-font);
    font-family: var(--ff-primary);
    font-size: var(--fs-primary);
    font-weight: var(--fw-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: auto;
}


/* Classes */
.header {
    padding-block-start: 5rem;
    text-align: center;
}

.header__title {
    color: var(--clr-primary);
    font-size: 1.5rem;
    font-weight: var(--fw-1);
}

.header__strong {
    display: block;
}

.header__strong,
.card__header {
    font-weight: var(--fw-3);
}

.header__desc {
    max-width: 500px;
    padding-top: 1rem;
    font-weight: var(--fw-2);
}

.wrapper {
    max-width: calc(0.8 * var(--vw-desktop));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding-block: 4rem 3rem;
}

.card {
    width: 300px;
    height: 220px;
    background-color: white;
    box-shadow: 0 5px 10px var(--clr-shadow-1),
                0 15px 15px var(--clr-shadow-2);
    border-radius: 0.5rem;
    padding-inline: 2rem;
    position: relative;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
}

.card--1::before {background-color: var(--clr-accent-1);}

.card--2::before {background-color: var(--clr-accent-2);}

.card--3::before {background-color: var(--clr-accent-3);}

.card--4::before {background-color: var(--clr-accent-4);}

.card::after {
    content: "";
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card--1::after {background-image: url(images/icon-supervisor.svg);}

.card--2::after {background-image: url(images/icon-team-builder.svg);}

.card--3::after {background-image: url(images/icon-karma.svg);}

.card--4::after {background-image: url(images/icon-calculator.svg);}

.card__header {
    color: var(--clr-primary);
    font-size: 1.2rem;
    padding-top: 1.5rem;
}

.card__desc {
    padding-block: 0.25rem;
    font-size: 0.75rem;
    line-height: 1.8;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* ####################
    Desktop View
#################### */

@media only screen and (min-width: 1336px) {
    
    .header__title {
        font-size: 2.25rem;
    }

    .card {
        width: 350px;
        height: 250px;
    }

    .card::after {
        width: 65px;
        height: 65px;
    }

    .card__header {
        font-size: 1.25rem; /*20px*/
        padding-top: 2rem; /*24px*/
    }

    .card__desc {
        font-size: 0.8125rem;
        padding-block: 0.5rem;
    }

    .wrapper {
        display: grid;
        justify-content: center;
        gap: 1rem 2rem;
        /* grid-template-areas: 
                            "0 B 0"
                            "A B D"
                            "A C D"
                            "0 C 0";*/
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(4, 125px);
    }

    .card--1 {
        /* grid-area: A; */
        grid-row: 2 / span 2;
        grid-column: 1;
    }

    .card--2 {
        /* grid-area: B; */
        grid-row: 1 / span 2;
        grid-column: 2;
    }

    .card--3 {
        /* grid-area: C; */
        grid-area: 3 / span 2;
        grid-column: 2;
    }

    .card--4 {
        /* grid-area: D; */
        grid-area: 2 / span 2;
        grid-column: 3;
    }

}